[Unit]
Description=Process Monitoring and Control Daemon for CryoSPARC
After=network.target centrifydc.service
Wants=remote-fs.target centrifydc.service
PartOf=cryosparc-supervisor.timer

[Service]
Type=forking
User=sys_cryospark
Group=sys_cryospark
ExecStart=/apps/CryoSPARC/cryosparc_master/bin/cryosparcm supervisord -c /apps/CryoSPARC/cryosparc_master/supervisord.conf
ExecStartPost=/apps/CryoSPARC/cryosparc_master/bin/cryosparcm start --systemd
PIDFile=/apps/CryoSPARC/cryosparc_master/run/supervisord.pid
WorkingDirectory=/apps/CryoSPARC/cryosparc_master
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
